<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clicker</title>
</head>
<body>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Main</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About me</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/help">Help</a>
      </nav>
    <h1>{{var}}</h1>
        <form method="post" action="/">
                <input type="submit" value="Click" name="Click"/>
            </div>
        </form>
</body>
</html>
