<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upgrade autoclicker</title>
    <link rel="stylesheet" href="static/index.css"/>
</head>
<body>
<div>
    <h1> Clicker </h1>
    <a href="upgrade_autoclicker"></a>
    <form>
        <button type="submit" class="button">Upgrade autoclicker</button>
    </form>
    <h2> You need {{ user["cost_upgrade_autoclicker"] }} to upgrade autoclicker</h2>
    <h2> You have {{ user["money"] }}</h2>
    <a href="/">
        <button class="button"> Back</button>
    </a>
</div>
</body>
</html>
